asgiref==3.12.1
black==26.5.1
click==8.4.2
Django==6.0.8
django-filter==26.1
djangorestframework==3.17.2
isort==8.0.1
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
pillow==12.3.0
platformdirs==4.11.0
psycopg2-binary==2.9.12
python-dotenv==1.2.2
pytokens==0.4.1
sqlparse==0.5.5
